<% if @game.player_turn == @game.player1 %>
<%= @game.player1.player %> attacked <%= @game.player2.player %> <br>
<%= @game.player2.player %>'s turn to attack
<% else %>
<%= @game.player2.player %> attacked <%= @game.player1.player %> <br>
<%= @game.player1.player %>'s turn to attack
<% end %>

<form action="switch-turns" method="post">
  <input type="submit" value="Ok">
</form>
